---
layout: post-index
---
{% for post in paginator.posts %}
<article>

    <!-- POST FEATURED IMAGE -->
    <div class="featured-image" >
      <a href="{{ site.url }}{{ post.url }}"><img src="{{ post.featured-image}}" style="width:100%"></a>
      <!-- <div class="featured-image-title"> <h1> {{ post.title }} <h1> </div> -->
    </div>

    <!-- POST TITLE -->
    <!--
    <header>
        <h1 class="entry-title">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a>
        </h1>
    </header>
    -->
    <!-- POST CONTENT -->
<!--     <div class="entry-content">
        {{ post.content }}
    </div> -->




</article>
{% endfor %}

<div class="pagination">
<center>
{% include pagination.html %}
</center>
    </div>
